body {
  height: 100vh;
  background-image: linear-gradient(yellow, red);
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.allAnswers {
  cursor: pointer;
  background-color: #f0f0f0;
  color: black;
  margin-top: 5px;
}
.allAnswers:disabled {
  opacity: 1;
  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
}

.allAnswers:hover {
  cursor: pointer;
  background-color: #6ed3ff;
}

/* Style the question */
.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style the score display */
#score {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.progress-bar {
  position: fixed;
  top: 5px;
  width: 0%;
  height: 5px;
  background-color: red;
}

/*Style the welcome page*/
.quiz-image {
  max-width: 100%;
  height: auto;
}

/* Style for the button */
button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  background-color: #3498db; /* Change the background color */
  color: #ffffff; /* Change the text color */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover effect */
button:hover {
  background-color: #2980b9; /* Change the background color on hover */
  transform: scale(1.05); /* Add a slight scale effect on hover */
}

/* Active (clicked) state */
button:active {
  transform: scale(0.95); /* Add a slight scale effect when clicked */
}

button:disabled {
  background-color: #ccc; /* Change the background color to a faded color */
  color: #666; /* Change the text color to a faded color */
  cursor: not-allowed; /* Change the cursor to indicate not allowed */
}

.welcome-text {
  font-size: 24px; /* Adjust the font size as needed */
  color: #333; /* Change the text color */
  text-align: center;
  margin-top: 20px; /* Adjust the top margin to control spacing */
  font-weight: bold; /* Optionally make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle text shadow */
  letter-spacing: 1px; /* Adjust letter spacing for readability */
}

/* Optional: Add more styles for different button states (e.g., disabled) */
