.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.scrollable {
  height: auto;
  max-height: 80vh;
  overflow: auto;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}
.allAnswers {
  cursor: pointer;
  background-color: #f0f0f0;
  color: black;
}
.allAnswers:disabled {
  opacity: 1;
  cursor: pointer;
  background-color: #f0f0f0;
  color: black;
}

/* Style the question */
.question {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style the score display */
#score {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}

.progress-bar{
  width: 0%;
  height: 5px;
  background-color: red;
}
